node_modules/
.env
.DS_Store
uploads/
*.log
.idea/
.vscode/
dist/
build/
coverage/
.next/
client/.next/
client/node_modules/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.packages
flutter_app/build/

